{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Cadastro de usuário {% endblock %}</h1>

<form method="POST">
    <div class="form-group">
        <label for="id">Código de Usuário*</label>
        <input type="text" name="id" placeholder="Informe seu CPF"
               class="form-control" value="{{ request.form['id']  }}"> </input>
    </div>
    <div class="form-group">
        <label for="title">Nome do Usuário*</label>
        <input type="text" name="title" placeholder="Nome do usuário"
               class="form-control" value="{{ request.form['title']  }}"> </input>
    </div>
    <div class="form-group">
        <label for="content"> Senha*</label>
        <input type="text" name="content" placeholder="Escolha um senha"
                  class="form-control" value="{{ request.form['content'] }}"></input>
    </div>

    <p> * Campos obrigatórios </p>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <h3><a href="/index">
            <span class="badge badge-warning">Voltar</span>
        </a></h3>
    </div>
</form>

{% endblock %}