{% extends 'base.html' %}

{% block content %}

    <h1> CONSULTA VOLUNTÁRIO </h1><hr>
    <h2>{% block title %} {{ postagem['title'] }} {% endblock %}</h2>
    <span class="badge badge-primary"> {{ postagem['created'] }}</span>
    <p> Contato: {{ postagem['contato'] }}<br>
        E-mail: {{ postagem['email'] }}<br>
        Descrição: {{ postagem['content'] }}<br>
        Voluntário nº: {{ postagem['id'] }} </p><hr>

    <h3> <a href="{{ url_for('edit', id=postagem['id']) }}">
            <span class="badge badge-warning">Alterar</span>
        </a>
        <a href="/voluntarios">
            <span class="badge badge-warning">Voltar</span>
        </a>
    </h3><hr>

{% endblock %}